---
// index.astro
import "../assets/styles/main.scss";
import Navbar from "../components/Navbar.astro";
import HeroSection from "../components/HeroSection.astro";
import FeatureSection from "../components/FeatureSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<header class="position-relative vh-100 overflow-hidden bg-dark text-white">
		<Navbar />
		<HeroSection />
	</header>

	<section>
		<FeatureSection />
	</section>
</Layout>
