<section class="row">
    <aside class="col-6" style="height: 15rem;">
        <figure></figure>
    </aside>
    <article class="col-6" style="height: 15rem;">
        <header>
            <p></p>
            <h3></h3>
            <p></p>
        </header>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </article>
</section>
