<section class="col-3 fs-6">
    <h6 class="pl-1 mb-3 fw-bold">More Links</h6>
    <ul class="list-unstyled ps-0 ms-0" style="font-size: xx-small">
        <li class="p-1">
            <a href="#" class="text-decoration-none text-white"
                >Lorem, ipsum dolor.</a
            >
        </li>
        <li class="p-1">
            <a href="#" class="text-decoration-none text-white"
                >Lorem, ipsum sitsitsitsit.</a
            >
        </li>
        <li class="p-1">
            <a href="#" class="text-decoration-none text-white"
                >Lorem, ipssitum dolor.</a
            >
        </li>
        <li class="p-1">
            <a href="#" class="text-decoration-none text-white"
                >Lorem, ipsum dolor amet.olor.</a
            >
        </li>
        <li class="p-1">
            <a href="#" class="text-decoration-none text-white"
                >Lorem, ipolor sit amet.sum dolor.</a
            >
        </li>
        <li class="p-1">
            <a href="#" class="text-decoration-none text-white"
                >Lorem ipsum dolor sit amet.</a
            >
        </li>
    </ul>
</section>
