<section class="col-2">
    <h6 class="pl-1 mb-3 fw-bold">Menus</h6>
    <ul class="list-unstyled ps-0 ms-0" style="font-size: smaller">
        <li class="p-1">
            <a href="#" class="text-decoration-none text-white">Home</a>
        </li>
        <li class="p-1">
            <a href="#" class="text-decoration-none text-white">About</a>
        </li>
        <li class="p-1">
            <a href="#" class="text-decoration-none text-white">Blog</a>
        </li>
        <li class="p-1">
            <a href="#" class="text-decoration-none text-white">Pages</a>
        </li>
        <li class="p-1">
            <a href="#" class="text-decoration-none text-white">Contact</a>
        </li>
        <li class="p-1">
            <a href="#" class="text-decoration-none text-white">Services</a>
        </li>
    </ul>
</section>
