<!-- footer:tagsSection.astro -->
<section class="col-4">
    <div class="row">
        <section class="d-flex flex-wrap gap-2">
            <a
                href="#"
                class="badge rounded-pill text-primary border border-primary bg-transparent px-3 py-2 text-decoration-none"
                >#Lorem</a
            >
            <a
                href="#"
                class="badge rounded-pill text-primary border border-primary bg-transparent px-3 py-2 text-decoration-none"
                >#ipsum</a
            >
            <a
                href="#"
                class="badge rounded-pill text-primary border border-primary bg-transparent px-3 py-2 text-decoration-none"
                >#dolor</a
            >
            <a
                href="#"
                class="badge rounded-pill text-primary border border-primary bg-transparent px-3 py-2 text-decoration-none"
                >#sit</a
            >
            <a
                href="#"
                class="badge rounded-pill text-primary border border-primary bg-transparent px-3 py-2 text-decoration-none"
                >#amet</a
            >
            <a
                href="#"
                class="badge rounded-pill text-primary border border-primary bg-transparent px-3 py-2 text-decoration-none"
                >#consectetur</a
            >
            <a
                href="#"
                class="badge rounded-pill text-primary border border-primary bg-transparent px-3 py-2 text-decoration-none"
                >#adipiscing</a
            >
            <a
                href="#"
                class="badge rounded-pill text-primary border border-primary bg-transparent px-3 py-2 text-decoration-none"
                >#elit</a
            >
            <a
                href="#"
                class="badge rounded-pill text-primary border border-primary bg-transparent px-3 py-2 text-decoration-none"
                >#Integer</a
            >
            <a
                href="#"
                class="badge rounded-pill text-primary border border-primary bg-transparent px-3 py-2 text-decoration-none"
                >#nec</a
            >
            <a
                href="#"
                class="badge rounded-pill text-primary border border-primary bg-transparent px-3 py-2 text-decoration-none"
                >#elit</a
            >
            <a
                href="#"
                class="badge rounded-pill text-primary border border-primary bg-transparent px-3 py-2 text-decoration-none"
                >#Integer</a
            >
            <a
                href="#"
                class="badge rounded-pill text-primary border border-primary bg-transparent px-3 py-2 text-decoration-none"
                >#nec</a
            >
            <a
                href="#"
                class="badge rounded-pill text-primary border border-primary bg-transparent px-3 py-2 text-decoration-none"
                >#odio</a
            >
            <a
                href="#"
                class="badge rounded-pill text-primary border border-primary bg-transparent px-3 py-2 text-decoration-none"
                >#elit</a
            >
            <a
                href="#"
                class="badge rounded-pill text-primary border border-primary bg-transparent px-3 py-2 text-decoration-none"
                >#Integer</a
            >
            <a
                href="#"
                class="badge rounded-pill text-primary border border-primary bg-transparent px-3 py-2 text-decoration-none"
                >#nec</a
            >
            <a
                href="#"
                class="badge rounded-pill text-primary border border-primary bg-transparent px-3 py-2 text-decoration-none"
                >#odio</a
            >
            <!-- ... etc -->
        </section>
    </div>
</section>
